
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #D13222;
    height: 60px
}
.logo{
    color: white;
    font-size: 24px;   
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.search-bar input {
    border: none;
    border-radius: 15px;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 6px;
}


.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}


.menu-icon {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.search-icon{
    width: 12px; 
    height: auto; 

}

.Agencylistphoto{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block; 
    margin: 0; 
    padding: 0;
}

.property-section {
    display: flex;
    padding: 20px;
}


.sidebar {
    width: 20%;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}

.sidebar h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
    font-size: 14px;
}


.main-content {
    flex: 1;
    padding-left: 20px;
}

.main-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.property-grid {
    display: flex;
    gap: 20px;
}


.property-card {
    width: calc(33.33% - 20px); 
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.property-card img {
    width: 100%;
    height: auto;
}

.property-details {
    padding: 10px;
}

.property-details h3 {
    margin: 0 0 5px;
    font-size: 16px;
}

.property-details p {
    margin: 5px 0;
    font-size: 14px;
}

.location-icon {
    color: #D13222;
}